/* intro container  */
.intro-container {
  background-image: url("../../../Images/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* intro sections emedeat div design  */
.intro-container > div {
  background-color: rgba(0, 0, 0, 0.288);
  color: white;
  width: 50%;
  min-height: 30vh;
  border-radius: 1rem;
}

@media only screen and (max-width: 660px) {
  .intro-container > div {
    width: 90%;
    margin: 0 auto;
  }
}
